* {
    margin: 0;
    padding: 0;
}

body {
    background: rgba(241, 243, 244, 1);
    font-family: "Manrope", sans-serif;
}

h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 22px;
}

input {
    border: none;
    &:active,
    &:hover,
    &:focus {
        outline: 0;
        outline-offset: 0;
    }
}

button {
    border: none;
}

input::placeholder {
    font-family: "Manrope", sans-serif;
}

.page {
    padding: 20px 15px 0 15px;
    display: flex;
    justify-content: space-between;  
    flex-direction: column;
    gap: 20px;
}
