main {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
}

.catalog {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
}

.catalog div {
    display: flex;
    justify-content: space-between;
}